[Desktop Entry]
Encoding=UTF-8
Version=0.9.9
Type=Application
Name=desktop-perms
Comment=Sets desktop icon permissions to allow execution
Exec=/usr/local/bin/perms.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
